[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
sqlalchemy = "*"
flask-migrate = "*"
flask_cors = "*"
flask-praetorian = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.8"
