{% extends "/layout/layout.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='public/CSS/index.css') }}">
{% endblock %}

{% block content %}
<div id="app"></div>
<main class="vh-100 d-flex justify-content-around align-items-center flex-wrap">
    <a href="/agua" class="m-3">
        <div class="card card-custom">
            <div class="card-body">
                <img class="img-fluid" src="{{ url_for('static', filename='public/IMG/agua.svg') }}" alt="">
            </div>
            <div class="card-hover">
                <h3>Agua</h2>
            </div>
        </div>
    </a>
    <a href="/tienda" class="m-3">
        <div class="card card-custom">
            <div class="card-body card-custom">
                <img class="img-fluid" src="{{ url_for('static', filename='public/IMG/tienda.svg') }}" alt="">
            </div>
            <div class="card-hover">
                <h3>Tienda</h2>
            </div>
        </div>
    </a>
</main>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='public/JS/main.js') }}"></script>
{% endblock %}
